@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: 'DM Sans', sans-serif !important;

  font-family: 'Noto Sans', sans-serif;

  font-family: 'Noto Sans JP', sans-serif;
}

.centered {
  margin: 25rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.svg-icon-pass {
  position: relative;
}

.svg-icon-pass:before {
  content: '';
  position: absolute;
  right: 18px;
  top: 0;
  bottom: 0;
  width: 20px;
}
.svg-icon-show:before {
  background: url(./components/Auth/AuthIcon/ShowPass.svg) center / contain
    no-repeat;
}

.svg-icon-hide:before {
  background: url(./components/Auth/AuthIcon/HidePass.svg) center / contain
    no-repeat;
}

.svg-icon-search:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  width: 19px;
}

.svg-icon-search:before {
  background: url(./components/Dashboard/SvgIcon/search.svg) center / contain
    no-repeat;
}

.contentCarsone {
  background-color: #e1dfa4;
}
.contentCarsone:hover {
  background-color: #f2ef9a;
}

.contentCarstwo {
  background-color: #c4dfed;
}
.contentCarstwo:hover {
  background-color: #dfeef6;
}
.contentCarsthree {
  background-color: #f4e3e5;
}

.contentCarsthree:hover {
  background-color: #fad4d9;
}

.contentCarsone,
.contentCarstwo,
.contentCarsthree {
  padding: 0.5rem 0;
  border-radius: 14px;
}
